.mzbody{
    
    width:100%;
    font-size:0.2rem;
    background:skyblue;
}
.mzSwiper>img{
    width:100%;
    height:100%;
}
.slider-decorator-0,.am-carousel-wrap,.am-wingblank,.slider,.slider-frame,.slider-list{
    width:100%;
    margin:0px!important;
}
* { touch-action: none; }